altgraph==0.17
auto-py-to-exe==2.8.0
bottle==0.12.20
bottle-websocket==0.2.9
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
Eel==0.12.4
enum34==1.1.10
future==0.18.2
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.0.0
idna==2.10
numpy==1.20.1
pefile==2019.4.18
pvporcupine==1.9.3
PyAudio @ file:///J:/GitHub%20Public/meme-voice-assistant/lib/PyAudio-0.2.11-cp39-cp39-win_amd64.whl
pycparser==2.20
pygame==2.0.1
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
python-dotenv==0.15.0
pywin32-ctypes==0.2.0
requests==2.25.1
six==1.15.0
SoundFile==0.10.3.post1
SpeechRecognition==3.8.1
urllib3==1.26.4
vk-api==11.9.1
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.2.0
